*{
  margin: 0;
  padding: 0;
}

a { 
  display: block;
  width: 230px;
  height: 40px;
  background-color: #55585a;
  font-size: 14px;
  color: aliceblue;
  text-decoration: none;
  line-height: 40px;
  text-indent: 2em;
}

a:hover {
  background-color: #ff6700;
}

