/* 
  后代选择器
  又称为包含选择器 可以选择父元素中的某个子元素
  将ul里面的li全部color改为red
  father Offspring（后代）{

  }
  由空格分隔
*/

ul li {
  color: red;
}

/* 
  子元素选择器
  father>son{

  }
  由>分割 子元素的适用环境只在你这个元素的子元素，孙子元素无法使用子元素
*/

ol > li{
  color: blue;
}
/* 
  并集选择器 : 以,分割 
  并集选择器支持所有选择器
*/

ol li
,ul li {
  font-size: 12px;
}


/* 伪类选择器 
  以：分割 
  链接伪类 （需要遵循LVHA的顺序）：
    :link    选择所有未被访问的链接 
    :visited 被访问过的链接
    :hover   鼠标指针位于其上的链接
    :active  鼠标按下未弹起的链接
  :focus 光标伪类选择器

  :first-child 第一个子元素
*/

